<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세 조회 페이지</title>
</head>
<body>
    <h1>상세 조회 페이지</h1>
    <form>
        <ul>
            <li>
                <label>제목</label>
                <p>
                    <%= detailPage.title%>
                </p>
            </li>
            <li>
                <label>작성자</label>
                <p>
                    <%= detailPage.writer%>
                </p>
            </li>
            <li>
                <label>내용</label>
                <p>
                    <%= detailPage.contents%>
                </p>
            </li>
        </ul>
    </form>
    <button onclick="location.href = '/editing/:id'">수정 하기</button>
</body>
</html>