<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 수정 페이지</title>
</head>
<body>
    <h1>글 수정 페이지</h1>
    <form action = "/api/editing" method = "post">
        <ul>
            <li>
                <label>제목</label>
                <input type="text" value="<%= editingPage.title%>">
            </li>
            <li>
                <label>작성자</label>
                <input type="text" value="<%= editingPage.writer%>">
            </li>
            <li>
                <label>내용</label>
                <input type="text" value="<%= editingPage.contents%>">
            </li>
            <li>
                <label>비밀번호</label>
                <input type="text" value="">
            </li>
        </ul>
        <button type = "submit">수정완료</button>
        <button type = "submit">삭제하기</button>
    </form>
</body>
</html>